<nav>
  <ul class="breadcrumb">
    <li><%= link_to "All needs", needs_path %></li>

    <% if defined?(action) && need.persisted? %>
      <li><%= breadcrumb_link_for(need) %></li>
      <li class="active"><%= action %></li>
    <% elsif defined?(action) && !need.persisted? %>
      <li class="active"><%= action %></li>
    <% else %>
      <li class="active"><%= breadcrumb_label_for(need) %></li>
    <% end %>
  </ul>
</nav>
