<h2>Filter needs</h2>

<%= form_tag needs_path, method: :get do %>
  <ul class="filter-list">
  <% available_filters.each do |tag_type, tags| %>
    <li class="filter-type">
      <%= label_tag tag_type.name %>
      <%= select_tag tag_type.identifier,
                     options_from_collection_for_select(tags, :id, :name, params[tag_type.identifier]),
                     include_blank: true,
                     data: {
                       module: 'chosen',
                     }  %>
    </li>
  <% end %>
  </ul>

  <%= button_tag 'Update filters', type: :submit %>
<% end %>

<% if active_filters.any? %>
  <%= button_to 'Reset filters', needs_path, method: :get, class: 'button-reset' %>
<% end %>
