<%= semantic_form_for need do |f| %>
  <%= f.inputs "What is the user story?", :id => "user-story" do %>
    <%= f.input :role, :label => "As a…", :hint => "Who is the user? E.g. a small business, a tax agent, a healthcare practitioner. Put 'user' when there's more than one type of user.", :required => false, :input_html => { :class => 'input-md-8' } %>
    <%= f.input :goal, :label => "I need to…", :hint => "What does the user want to do?", :required => false, :input_html => { :class => 'input-md-8' } %>
    <%= f.input :benefit, :label => "So that…", :hint => "Why does the user want to do this?", :required => false, :input_html => { :class => 'input-md-8' } %>
  <% end %>

  <% if PropositionStatement.any? %>
    <%= f.inputs "Which criteria of the proposition does this need meet?" do %>
      <%= f.input :proposition_statement_ids, as: :check_boxes,
                                              label: false,
                                              collection: PropositionStatement.all.map {|statement|
                                                [(content_tag(:h3, statement.name) +
                                                    content_tag(:p, statement.description)),
                                                  statement.id]
                                              },
                                              wrapper_html: {
                                                class: 'need-proposition-selection',
                                              } %>
    <% end %>
  <% end %>

  <%= f.inputs "How will you know when this need has been met?" do %>
    <%= render partial: "met_when", locals: { met_when_criteria: criteria_with_blank_value(f.object.met_when), f: f } %>
  <% end %>

  <% if TagType.any? %>
    <%= f.inputs "Tag this need", class: 'tags' do %>
      <%= render partial: "tag_type", collection: TagType.all, locals: { f: f } %>
    <% end %>
  <% end %>

  <%= render layout: 'workflow_footer' do %>
    <div class="navbar-btn">
    <%= f.action :submit,
                 :button_html => {
                   :value => "Save",
                   :class => "btn btn-primary"
                 }
               %>
    <%= f.action :submit,
                 :button_html => {
                   :name => "add_new",
                   :value => "Save and add a new need",
                   :class => "btn btn-primary"
                 }
               %>
    </div>
  <% end %>
<% end %>
