<div class="need-responses">
  <h2>
    <em><%= need.need_responses.count %></em>
    <%= 'thing'.pluralize(need.need_responses.count) %> responding to this need
  </h2>

  <ul>
    <% need.need_responses.each do |need_response| %>
      <li class="need-response-item">
        <h3>
          <% if need_response.url.present? %>
            <%= link_to need_response.name, need_response.url %>
          <% else %>
            <%= need_response.name %>
          <% end %>
        </h3>
        <p class="metadata">
          <%= need_response.response_type_text %>
        </p>
        <% unless need.closed? %>
          <%= link_to edit_need_response_path(need, need_response), class: 'action edit-action' do %>
            <span class="icon" aria-hidden="true"></span>
            Edit
          <% end %>
        <% end %>
      </li>
    <% end %>

    <% unless need.closed? %>
      <%= link_to new_need_response_path(need), class: 'action new-action' do %>
        <span class="icon" aria-hidden="true"></span>
        Add new response
      <% end %>
    <% end %>
  </ul>
</div>
