<tr>
  <td>
    <%= semantic_form_for :bookmark, :url => toggle_bookmarks_path do |f| %>
      <%= f.input :need_id, :as => :hidden, :input_html => { :value => need.need_id } %>
      <%= f.input :redirect_to, :as => :hidden, :input_html => { :value => @current_page } %>
      <button id="bookmark_<%= need.need_id %>" type="submit" class="btn btn-default">
        <span class="glyphicon <%= bookmark_icon(@bookmarks, need.need_id) %>"></span>
      </button>
    <% end %>
  </td>
  <td><%= link_to need.need_id, need_path(need) %></td>
  <td><%= link_to format_need_goal(need.goal), need_path(need) %></td>
</tr>
