<div class="need-responses">
  <h3>Things that are responding to this need</h3>

  <% if need.need_responses.any? %>
  <table class="table">
    <tbody>
      <% need.need_responses.each do |need_response| %>
        <tr>
          <td style="width: 20%;"><%= need_response.response_type_text %></td>
          <td>
            <% if need_response.url.present? %>
              <%= link_to need_response.name, need_response.url %>
            <% else %>
              <%= need_response.name %>
            <% end %>
          </td>
          <td style="width: 20%;"><%= link_to 'Edit', edit_need_response_path(need, need_response) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>

  <%= link_to 'Add new response to this need', new_need_response_path(need), class: 'btn btn-default' %>
</div>
