<header class="need-header">
  <p class="the-need">
    As a <em><%= need.role %></em><br />
    I need to <em><%= need.goal %></em><br />
    So that <em><%= need.benefit %></em>
  </p>

  <div class="status-and-actions">
    <nav class="need-actions button-group">
      <div class="dropdown-button">
        <button type="button" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          Decide on this need <span></span>
        </button>
        <ul role="menu">
          <% decision_type_options.each do |label, value| %>
            <li><%= link_to label, new_need_decision_path(need, decision_type: value) %></li>
          <% end %>
        </ul>
      </div>
    </nav>

    <ul class="need-status">
      <% decision_type_options.each do |label, value| %>
        <% if need.latest_decision(value) %>
          <%= render partial: 'needs/need_latest_decision', locals: { decision: need.latest_decision(value) } %>
        <% end %>
      <% end %>
    </ul>
    
  </div>
</header>
