<% content_for :page_title, "##{need.need_id}: #{format_need_goal(need.goal)}" %>
<% content_for :navigation do %>
  <%= render partial: 'navigation' %>
<% end %>

<article class="need">
  <section class="need-main need-evidence">
    <header>
      <h1>Justification and evidence for this need</h1>
    </header>

    <p><%= link_to 'Add or edit evidence', edit_need_path(need), class: 'btn btn-primary' %></p>

    <% if need.legislation.present? %>
      <div class="legislation">
        <h2>Related legislation:</h2>
        <div class="value">
          <%= simple_format html_escape(need.legislation) %>
        </div>
      </div>
    <% end %>

    <% if need.other_evidence.present? %>
      <div class="other-evidence">
        <h2>Further evidence:</h2>
        <div class="value">
          <%= simple_format html_escape(need.other_evidence) %>
        </div>
      </div>
    <% end %>

    <% if show_interactions_column?(need) %>
      <div class="interactions">
        <h2>Historical data:</h2>

        <div class="value">

        <% if need.yearly_need_views.present? %>
          <div class="big-number">
            <%= format_friendly_integer need.yearly_need_views %>
            <span class="big-number-detail">Approximate pageviews a year</span>
          </div>
        <% end %>

        <% if percentage = calculate_percentage(need.yearly_need_views, need.yearly_site_views) %>
          <div class="big-number">
            <%= percentage %>
            <span class="big-number-detail">of site pageviews</span>
          </div>
        <% end %>

        <% if need.yearly_user_contacts.present? %>
        <div class="big-number">
          <%= format_friendly_integer need.yearly_user_contacts %>
          <span class="big-number-detail">Approximate contacts a year</span>
        </div>
        <% end %>

        <% if need.yearly_searches.present? %>
          <div class="big-number">
            <%= format_friendly_integer need.yearly_searches %>
            <span class="big-number-detail">Approximate searches a year</span>
          </div>
        <% end %>

        </div>
      </div>
    <% end %>
  </section>
</article>
