<% content_for :page_title, "History & Notes" %>
<%= render partial: "needs/breadcrumb", locals: { need: need, action: "History & Notes" } %>
<%= render :partial => "need_header" %>

<article class="need">
  <% if current_user.can?(:create, Note) %>
    <div class="feed-add">
      <%= render partial: "needs/revisions/new_note_form", locals: { need: need } %>
    </div>
  <% end %>

  <ul class="feed">
    <%= render partial: "needs/revisions/revision", collection: need.changesets %>
  </ul>
</article>

<%= render partial: "workflow_buttons", locals: { need: need } %>
