<% content_for :page_title, "##{need.need_id}: #{format_need_goal(need.goal)}" %>

<article class="need">
  <%= render partial: 'navigation' %>

  <section class="need-main">
    <header class="the-need">
      As a <em><%= need.role %></em><br />
      I need to <em><%= need.goal %></em><br />
      So that <em><%= need.benefit %></em>
    </header>

    <%= render partial: 'need_latest_decisions' %>

    <% if need.closed? %>
      <%= render partial: 'need_closed_message' %>
    <% end %>

    <div class="need-overview">
      <div class="column">
        <section class="box box-met-when">
          <h1>Met when the user:</h1>

          <ul>
          <% need.met_when.each do |criterion| %>
            <li><%= criterion %></li>
          <% end %>
          </ul>
        </section>

        <section class="box box-tags">
          <h1>Tags</h1>

          <ul class="tags-list">
            <% need.joined_tag_types.each do |tag_type| %>
              <li>
                <h3><%= tag_type.name %>:</h3>
                <ul>
                  <% need.tags_of_type(tag_type).each do |tag| %>
                    <li><%= tag.name %></li>
                  <% end %>
                </ul>
              </li>
            <% end %>
          </ul>
        </section>
      </div>
      <div class="column">
        <section class="box box-responses">
          <h1>Response</h1>
          <h2>
            <em><%= need.need_responses.count %></em>
            <%= 'thing'.pluralize(need.need_responses.count) %> responding to this need
          </h2>
          <p class="more-link">
            <%= link_to need_responses_path(need) do %>
              See all responses to this need &rarr;
            <% end %>
          </p>
        </section>

        <section class="box box-actions">
          <h1>Actions</h1>
          <p>
            <%= link_to edit_need_path(need), class: 'btn-primary' do %>
              Edit need
            <% end %>
            <%= link_to close_as_duplicate_need_path(need), class: 'btn-danger' do %>
              <span class="icon" aria-hidden="true"></span> Close as duplicate
            <% end %>
          </p>
        </section>
      </div>
    </div>
  </section>
</article>
