<% content_for :page_title, "##{need.need_id}: #{format_need_goal(need.goal)}" %>
<% content_for :navigation do %>
  <%= render partial: 'navigation' %>
<% end %>

<article class="need">
  <section class="need-main">
    <header class="the-need">
      <h1>
        As a <em><%= need.role %></em><br />
        I need to <em><%= need.goal %></em><br />
        So that <em><%= need.benefit %></em>
      </h1>
    </header>

    <% if need.closed? %>
      <%= render partial: 'need_closed_message' %>
    <% end %>

    <div class="need-overview">
      <div class="column">
        <section class="box box-met-when">
          <h1>Met when the user:</h1>

          <% if need.met_when.any? %>
            <ul>
            <% need.met_when.each do |criterion| %>
              <li><%= criterion %></li>
            <% end %>
            </ul>
          <% else %>
            <p class="empty">This need has no 'met when' criteria.</p>
          <% end %>
        </section>

        <section class="box box-tags">
          <h1>Tags</h1>

          <% if need.taggings.any? %>
            <ul class="tags-list">
              <% need.joined_tag_types.each do |tag_type| %>
                <li>
                  <h3><%= tag_type.name %>:</h3>
                  <ul>
                    <% need.tags_of_type(tag_type).each do |tag| %>
                      <% if tag_type.show_index_page? %>
                        <li><%= link_to "#{tag.name} →", tag_path(tag) %></li>
                      <% else %>
                        <li><%= tag.name %></li>
                      <% end %>
                    <% end %>
                  </ul>
                </li>
              <% end %>
            </ul>
          <% else %>
            <p class="empty">This need has not been tagged with anything.</p>
          <% end %>
        </section>
      </div>
      <div class="column">
        <section class="box box-proposition">
          <h1>This need is in scope because:</h1>

          <% if need.proposition_statements.any? %>
            <ul>
            <% need.proposition_statements.each do |statement| %>
              <li>
                <h2><%= statement.name %></h2>
                <% if statement.description %>
                  <p><%= statement.description %></p>
                <% end %>
              </li>
            <% end %>
            </ul>
          <% else %>
            <p class="empty">This need doesn't meet any criteria in the proposition.</p>
          <% end %>
        </section>

        <section class="box box-responses">
          <h1>Response</h1>
          <h2>
            <em><%= need.need_responses.count %></em>
            <%= 'thing'.pluralize(need.need_responses.count) %> responding to this need
          </h2>
          <p class="more-link">
            <%= link_to need_responses_path(need) do %>
              See all responses to this need &rarr;
            <% end %>
          </p>
        </section>

        <% unless need.closed? %>
          <section class="box box-actions">
            <h1>Actions</h1>
            <p>
              <% if current_user.can?(:update, Need) %>
                <%= link_to edit_need_path(need), class: 'button-primary' do %>
                  Edit need
                <% end %>
              <% end %>

              <% if current_user.can?(:close, Need) %>
                <%= link_to close_as_duplicate_need_path(need), class: 'button-danger' do %>
                  <span class="icon" aria-hidden="true"></span> Close as duplicate
                <% end %>
              <% end %>
            </p>
          </section>
        <% end %>
      </div>
    </div>
  </section>
</article>
