<% content_for :page_title, "##{need.need_id}: #{format_need_goal(need.goal)}" %>
<% content_for :navigation do %>
  <%= render partial: 'navigation' %>
<% end %>

<article class="need">
  <section class="need-main">
    <header class="the-need">
      <h1>
        As a <em><%= need.role %></em><br />
        I need to <em><%= need.goal %></em><br />
        So that <em><%= need.benefit %></em>
      </h1>

      <% if current_user_can_edit_need?(need) %>
        <div class="actions">
          <%= link_to edit_need_path(need), class: 'button-primary' do %>
            Edit this need
          <% end %>
        </div>
      <% end %>
    </header>

    <% if need.closed? %>
      <%= render partial: 'need_closed_message' %>
    <% end %>

    <div class="need-overview">
      <div class="column">
        <%= render partial: 'needs/overview/follows', locals: { need: need } %>
        <%= render partial: 'needs/overview/criteria', locals: { need: need } %>
        <%= render partial: 'needs/overview/tags', locals: { need: need, presenter: presenter } %>
      </div>
      <div class="column">
        <%= render partial: 'needs/overview/proposition_statements', locals: { need: need, presenter: presenter } %>
        <%= render partial: 'needs/overview/responses', locals: { need: need } %>
        <%= render partial: 'needs/overview/actions', locals: { need: need, presenter: presenter } %>
      </div>
    </div>
  </section>
</article>
