<%= render partial: "needs/breadcrumb", locals: { need: need, action: 'Decisions' } %>
<%= render partial: "needs/need_header" %>

<article class="need-decisions">
  <header>
    <h1>Decisions on this need</h1>
  </header>

  <ul class="feed">
    <% decisions.each do |decision| %>
      <li>
        <p class="datetime">
          <%= l decision.created_at, format: :short_date %>
          <span class="time"><%= l decision.created_at, format: :short_time %></span>
        </p>
        <div class="item">
          <h2><%= decision_outcome_label(decision.decision_type, decision.outcome) %></h2>

          <% if decision.note.present? %>
            <div class="note">
              <%= simple_format decision.note %>
            </div>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
</article>
