<tr>
  <td>
    <%= team_icon(team) %>
    <%= team.name %>
  </td>
  <td><%= team.description %></td>
  <td><%= team.users.size %></td>
  <td class="actions">
    <ul>
      <li><%= link_to 'edit', edit_settings_team_path(team) %></li>
    </ul>
  </td>
</tr>
