<tr>
  <td><%= user.name %></td>
  <td><%= user.email %></td>
  <td><%= user.roles.join(', ') %></td>
  <td><%= user.teams.size %></td>
  <td class="actions">
    <ul>
      <li><%= link_to 'edit', edit_settings_user_path(user) %></li>
    </ul>
  </td>
</tr>
