<% content_for :page_title, "##{need.need_id}: #{format_need_goal(need.goal)}" %>
<% content_for :navigation do %>
  <%= render partial: 'needs/navigation' %>
<% end %>

<article class="need">
  <section class="need-main need-criteria">
    <header>
      <h1>'Met when' criteria for this need</h1>
    </header>

    <div class="overview">
      <%= render partial: 'edit_overview' %>
    </div>

    <%= semantic_form_for @form, url: need_criteria_path(need), as: :need_criteria do |f| %>
      <ul>
      <%= f.fields_for :criteria, f.object.criteria do |cf| %>
        <li>
          <%= cf.input :value, as: :string, label: "Criteria #{cf.index+1}" %>
          <%= cf.input :delete, as: :boolean %>
        </li>
      <% end %>
      </ul>

      <%= f.action :submit, button_html: { class: 'btn btn-primary' } %>
      <%= f.action :submit, button_html: { class: 'btn btn-primary', value: t('formtastic.actions.need_criteria.save_add_more') } %>
    <% end %>
  </section>
</article>
