<section class="tag">
  <%= semantic_form_for tag_instance, html: { class: 'tag-page-editor', data: { module: 'tag-page-editor' }} do |f| %>
    <header>
      <h1>
        <span class="type-label"><%= tag_type.name.singularize %></span>
        <%= tag_instance.name %>
      </h1>

      <div class="actions">
        <%= f.action :submit, as: :button, button_html: { class: 'btn btn-primary' }, label: 'Save page' %>
        <%= f.action :cancel, as: :link, link_html: { class: 'btn btn-default' }, label: 'Cancel changes' %>
      </div>
    </header>

    <%= f.input :body, as: :text,
                       label: 'Add an overview for this page',
                       input_html: {
                         rows: 3,
                         data: {
                           module: 'expand',
                         }
                       } %>

    <input type="hidden" name="tag[priority_need_ids][]">

    <% if needs.empty? %>
      <section class="no-needs">
        <h2>This <%= tag_type.name.downcase.singularize %> hasn't been added to any needs yet</h2>
        <p><%= link_to 'Edit a need', needs_path %> and select this <%= tag_type.name.downcase.singularize %> from the list. You can then choose the most important needs to highlight on this page.</p>
      </section>
    <% else %>
      <div class="priority-needs-editor" data-page-editor-role="column-set">
        <ul style="display: none" data-page-editor-role="all-needs">
          <%= render partial: "needs/need_row", collection: needs, as: :need, locals: { draggable: true } %>
        </ul>

        <ul style="display: none" class="other-needs" data-page-editor-role="other-list">
          <h3>Available to add</h3>
        </ul>

        <ul class="selected-needs" data-page-editor-role="selected-list">
          <% f.object.priority_need_ids.each do |id| %>
            <%= render partial: 'need_select', locals: { tag_instance: tag_instance, id: id } %>
          <% end %>

          <% 3.times do %>
            <%= render partial: 'need_select', locals: { tag_instance: tag_instance, empty: true } %>
          <% end %>
        </ul>

        <div class="clear"></div>
      </div>
    <% end %>
  <% end %>
</section>
