<% content_for(:selected_navigation_url, tag_type_path(tag_type.identifier)) %>
<section class="tag">
  <header>
    <h1>
      <span class="type-label"><%= tag_type.name.singularize %></span>
      <%= tag_instance.name %>
    </h1>

    <div class="actions">
      <%= link_to 'Edit this page', edit_tag_path(tag_instance), class: 'btn btn-primary' %>
    </div>
  </header>

  <section class="overview">
    <% if tag_instance.body.present? %>
      <section class="tag-body">
        <%= simpler_format(tag_instance.body) %>
      </section>
    <% end %>

    <%= render partial: 'shared/concerns/followable/list',
               locals: {
                 teams: tag_instance.teams,
                 empty_message: "There are no teams involved with this #{tag_type.name.downcase.singularize}."
               } %>
  </section>

  <% if needs.empty? %>
    <section class="no-needs">
      <h2>This <%= tag_type.name.downcase.singularize %> hasn't been added to any needs yet</h2>
      <p><%= link_to 'Add it to a need', needs_path %> and it will show up here.</p>
    </section>
  <% end %>

  <% if priority_needs.any? %>
    <ul class="priority-needs-list">
      <%= render partial: "needs/need_row", collection: priority_needs, as: :need %>
    </ul>
  <% end %>

  <% if other_needs.any? %>
    <ul class="other-needs-list">
      <h2>Other needs</h2>
      <%= render partial: "needs/need_row", collection: other_needs, as: :need %>
    </ul>
  <% end %>
</section>
