<% content_for :header do %>
  <header>
    <p class="back-link">
      <%= link_to needs_path do %>
      <span class="icon" aria-hidden="true"></span> Back to Maslow
      <% end %>
    </p>

    <h1>
      <span class="subtitle"><%= site_name %></span>
      Project settings
    </h1>
  </header>
<% end %>

<% content_for :navigation do %>
  <h3>Project</h3>
  <ul class="navigation-list">
    <%= nav_link_to 'API clients', settings_bot_users_path, icon: 'console', match_prefix: true %>
    <%= nav_link_to 'Evidence types', settings_evidence_types_path, icon: 'folder-open', match_prefix: true %>
    <%= nav_link_to 'Proposition statements', settings_proposition_statements_path, icon: 'list', match_prefix: true %>
    <%= nav_link_to 'Teams', settings_teams_path, icon: 'th-large', match_prefix: true %>
    <%= nav_link_to 'User accounts', settings_users_path, icon: 'user', match_prefix: true %>
  </ul>

  <h3>Collections</h3>
  <ul class="navigation-list">
    <% tag_types.each do |tag_type| %>
      <%= nav_link_to tag_type.name, settings_tag_type_path(tag_type), icon: 'tags', match_prefix: true %>
    <% end %>
    <%= nav_link_to 'Add new tag type', new_settings_tag_type_path, icon: 'plus' %>
  </ul>
<% end %>

<% content_for :content do %>
<section class="settings">
  <%= yield %>
</section>
<% end %>

<%= render template: 'layouts/application' %>
