<% content_for :content do %>
  <div class="settings">
    <h1>Project settings</h1>

    <nav class="col-md-3">
      <ul>
        <li>
          <h2>Project</h2>
          <ul>
            <li><%= link_to 'Team members', settings_users_path %></li>
          </ul>
        </li>
        <li>
          <h2>Tags</h2>
          <ul>
            <% tag_types.each do |tag_type| %>
              <li><%= link_to tag_type.name, settings_tag_type_path(tag_type) %></li>
            <% end %>
            <li class="add">
              <span class="icon" aria-hidden="true"></span>
              <%= link_to 'add new tag type', new_settings_tag_type_path %>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <section class="settings-area col-md-9">
      <%= yield %>
    </div>
  </div>

<% end %>

<%= render template: 'layouts/application' %>
