<% revision.notes.each do |n| %>
  <li class="feed-item">
    <p class="feed-metadata">
      <span class="date"><%= l n.created_at, format: :short_date %></span>
      <span class="time"><%= l n.created_at, format: :short_time %></span>
      <span class="author"><%= n.author.name %></span>
    </p>

    <div class="feed-content">
      <div class="inner">
        <div class="note">
          <%= simple_format n.text %>
        </div>
      </div>
    </div>
  </li>
<% end %>

<li class="feed-item">
  <p class="feed-metadata">
    <span class="date"><%= l revision.created_at, format: :short_date %></span>
    <span class="time"><%= l revision.created_at, format: :short_time %></span>
    <span class="author">
      <% if revision.author.present? -%>
        <%= revision.author.name %>
      <% else %>
        unknown
      <% end %>
    </span>
  </p>

  <div class="feed-content">
    <div class="inner">
      <%= revision.action_type.capitalize %>

      <ul class="changes">
        <% revision.changes.each do |field,(previous,current)| %>
          <li>
            <%= format_field_name(field) %>:
            <span class="changed-value"><%= format_field_value(previous) %></span> &rarr;
            <span class="changed-value"><%= format_field_value(current) %></span>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</li>
