<section class="page-section change-password">
  <header>
    <h1>Change your password</h1>
  </header>

  <%= semantic_form_for user, url: password_user_path, method: :put do |f| %>
    <%= f.inputs do %>
      <%= f.input :current_password %>

      <%= f.input :password, label: "New password" %>
      <%= f.input :password_confirmation, label: "Confirm your new password" %>

      <%= f.actions do %>
        <%= f.action :submit, label: 'Change password' %>
      <% end %>
    <% end %>
  <% end %>
</section>
