<nav class="project">
  <ul>
    <li class="signed-in-user">
      <strong><%= current_user.name %></strong>
      <ul>
        <li><%= link_to 'change password', edit_password_user_path %></li>
        <li><%= link_to 'sign out', destroy_user_session_path %></li>
      </ul>
    </li>
    <li class="primary">
      <%= link_to "Home", root_path %>
    </li>
    <% if current_user.can?(:manage, :settings) %>
      <li><%= link_to "Project settings", settings_root_path %></li>
    <% end %>
  </ul>
</nav>
