<%# blocks for govuk_admin_template %>
<% content_for :head do %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
  <%= yield :extra_headers %>
<% end %>

<% #content_for concatenates successive calls %>
<% content_for :page_title do %> | Maslow<% end %>
<% content_for :navbar_items do %>
  <li <% if current_page?(bookmarks_path) %> class="active" <% end %>>
    <%= link_to "Bookmarked needs", bookmarks_path %>
  </li>
<% end %>
<% content_for :app_title do %>Maslow<% end %>
<% content_for :content do %>
  <% [:notice, :alert, :error].select { |k| flash[k].present? }.each do |k| %>
    <div class="main-alert <%= k %>">
      <%= flash[k] %>
      <% if flash[:need_id] %>
        <%= link_to "#{flash[:need_id]}: #{flash[:goal]}",
                    need_path(flash[:need_id]) %>
      <% end %>
    </div>
  <% end %>
  <%= yield %>
<% end %>
<%# use the govuk_admin_foundation layout %>
<%= render :template => 'layouts/govuk_admin_template' %>
