<!doctype html>
<html>
<head>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
  <%= yield :extra_headers %>

  <title><%= content_for?(:page_title) ? yield(:page_title) + " | " : "" %><%= app_title %></title>
</head>
<body class="default">
  <%= render partial: 'shared/flash' %>
  <section class="app-container">
    <aside class="navigation">
      <% if content_for(:header) %>
        <%= yield(:header) %>
      <% else %>
        <header>
          <h1>
            <span class="subtitle">Maslow</span>
            <%= site_name %>
          </h1>
        </header>
      <% end %>

      <div class="nav-content">
        <% if content_for(:navigation) %>
          <%= yield(:navigation) %>
        <% else %>
          <%= render partial: 'layouts/default_navigation' %>
        <% end %>
      </div>

      <div class="signed-in-user">
        <strong><%= current_user.name %></strong>
        <ul>
          <li><%= link_to 'change password', edit_password_user_path %></li>
          <li><%= link_to 'sign out', destroy_user_session_path %></li>
        </ul>
      </div>
    </aside>

    <main>
      <%= content_for?(:content) ? yield(:content) : yield %>
    </main>
</body>
</html>
