<!doctype html>
<html>
<head>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
  <%= yield :extra_headers %>

  <title><%= content_for?(:page_title) ? yield(:page_title) + " | " : "" %><%= app_title %></title>
</head>
<body>
  <header class="app-header">
    <div>
      <div class="app-title">
        <%= link_to root_path do %>
          <h1 class="logo">M<span>aslow</span></h1>
          <span class="instance-name"><%= ENV['INSTANCE_NAME'] %></span>
          <span class="dropdown-icon" aria-hidden="true"></span>
        <% end %>
      </div>

      <nav role="navigation">
        <ul>
          <li <% if current_page?(needs_path) %> class="active" <% end %>>
            <%= link_to "All needs", needs_path %>
          </li>
          <li <% if current_page?(bookmarks_path) %> class="active" <% end %>>
            <%= link_to "Bookmarked needs", bookmarks_path %>
          </li>
        </ul>
      </nav>

      <div class="primary-actions">
        <% if current_user.can?(:create, Need) %>
          <%= link_to 'Add user need', new_need_path %>
        <% end %>
      </div>

      <%= render partial: 'layouts/project_navigation' %>
    </div>
  </header>

  <main>
    <%= yield(:breadcrumbs) if content_for?(:breadcrumbs) %>

    <%= render partial: 'shared/flash' %>

    <%= content_for?(:content) ? yield(:content) : yield %>
  </main>
</body>
</html>
