<!doctype html>
<html>
<head>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
  <%= yield :extra_headers %>
</head>
<body>
  <header class="app-header">
    <div>
      <div class="app-title">
        <%= link_to "Maslow", root_path, :class => 'navbar-brand' %>
      </div>
      <nav role="navigation">
        <ul>
          <li <% if current_page?(bookmarks_path) %> class="active" <% end %>>
            <%= link_to "Bookmarked needs", bookmarks_path %>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <main>
    <% [:notice, :alert, :error].select { |k| flash[k].present? }.each do |k| %>
      <div class="main-alert <%= k %>">
        <%= flash[k] %>
        <% if flash[:need_id] %>
          <%= link_to "#{flash[:need_id]}: #{flash[:goal]}",
                      need_path(flash[:need_id]) %>
        <% end %>
      </div>
    <% end %>

    <%= yield %>
  </main>
</body>
</html>
