<!doctype html>
<html>
<head>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
  <%= yield :extra_headers %>

  <title><%= content_for?(:page_title) ? yield(:page_title) + " | " : "" %><%= app_title %></title>
</head>
<body class="signed-out">
  <div class="container">
    <header>
      <h1>Maslow</h1>
      <h2><%= ENV['INSTANCE_NAME'] %></h2>
    </header>

    <%= render partial: 'shared/flash' %>

    <%= content_for?(:content) ? yield(:content) : yield %>

    <% if self.respond_to?(:devise_mapping) %>
      <footer class="signed-out-actions">
        <%= render "devise/shared/links" %>
      </footer>
    <% end %>
  </div>
</body>
</html>
