<!doctype html>
<html>
<head>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
  <%= yield :extra_headers %>

  <title><%= content_for?(:page_title) ? yield(:page_title) + " | " : "" %><%= app_title %></title>
</head>
<body class="skeleton">
  <main>
    <%= render partial: 'shared/flash' %>

    <%= content_for?(:content) ? yield(:content) : yield %>
  </main>
</body>
</html>
